[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vim/plugins/vim-airline"]
	path = vim/vim/plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim/plugins/vim-airline-themes"]
	path = vim/vim/plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/vim/plugins/nerdtree"]
	path = vim/vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/plugins/ctrlp"]
	path = vim/vim/plugins/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
